* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  --darkblue: #2e475f;
  --lightblue: #0df1fd;
  --green: #37c294;
  --red: #b31433;
  --dark: #3b4c5f;
  --white: #fff;

  margin: 0;
  padding: 0 2em;
  min-height: 100vh;
  background-color: white;
}

.light-blue {
  background-color: var(--lightblue);
}
.dark-blue {
  color: #fff;
  background-color: var(--darkblue);
}
.red {
  background-color: var(--red);
  color: #fff;
}

.green {
  background-color: var(--green);
  color: #fff;
}

.dark {
  background-color: var(--dark);
  color: #fff;
}
.white {
  background-color: var(--white);
  /* border: 2px solid black; */
}

.dark button,
.red button,
.green button {
  color: white;
}

.shadow {
  border: 3px solid black;
  box-shadow: 6px 6px 0px 0px #000000;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

header {
  width: 100%;
  /* border: 2px solid red; */
  display: flex;
  align-items: center;
  gap: 1.5em;
  /* justify-content: space-between; */
  /* margin-bottom: 1em; */
}

header h1 {
  width: 320px;
}

.category {
  text-align: center;
  flex-grow: 2;
  padding-right: 6px;
  display: flex;
  gap: 1.5em;
  cursor: pointer;
  /* border: 2px solid red; */
}

.option {
  background-color: rgba(0, 0, 0, 0);
  flex: 1 1 0;
  border-radius: 8px;
  padding: 8px 1em;
  font-size: 0.8em;
  transition: all 300ms ease;
}

.option:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.option.active {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.4);
}

.container {
  width: 100%;
  border: 2px solid white;
  display: flex;
  gap: 1.5em;
}

/* Todo Form */
form {
  display: flex;
  flex-direction: column;
  gap: 2.5em;
  /* border: 2px solid red; */
}

.note-text {
  width: 320px;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  padding: 1.5em 1.5em;
  gap: 12px;
  position: relative;
  align-items: center;
  transition: all 300ms ease;
}

.dark input,
.dark textarea,
.green input,
.green textarea,
.red input,
.red textarea {
  color: #fff;
}

.note-text input::placeholder,
.note-text textarea::placeholder {
  color: black;
  opacity: 0.4;
}

.note-text.dark input::placeholder,
.note-text.dark textarea::placeholder {
  color: white;
  opacity: 0.3;
}

.note-text input {
  background-color: transparent;
  width: 100%;
  font-size: 1rem;
  padding-bottom: 8px;
  border: 0;
  border-bottom: 1px solid black;
  outline: none;
}

.note-text textarea {
  background-color: transparent;
  width: 100%;
  min-height: 300px;
  border: none;
  outline: none;
  resize: none;
  transition: all 300ms ease;
  margin-bottom: 1rem;
}

form button {
  width: 50%;
  border: 0;
  padding: 8px 1em;
  background-color: #1f232a;
  color: #fff;
  border: 2px solid black;
  font-size: 1.2rem;
  border-radius: 1em;
  cursor: pointer;
  transition: all 300ms ease;
  outline: none;
  position: absolute;
  bottom: 0;
  transform: translateY(50%);
}

form button:hover {
  background-color: #fff;
  color: #1f232a;
}

.input-color {
  display: flex;
  padding: 12px 0;
  background-color: white;
  border-radius: 12px;
  justify-content: space-evenly;
}

.input-color div {
  border: 2px solid black;
  cursor: pointer;
  padding: 1em;
  border-radius: 8px;
  transition: all 200ms ease-out;
}

.input-color div:hover {
  padding: 1em 1.5em;
}

/* Todos */
ul {
  /* max-width: 60%; */
  flex-grow: 2;
  margin: 0;
  padding: 0;
  padding-right: 6px;
  /* border: 2px solid red; */
  list-style: none;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

li {
  width: 100%;
  border: 3px solid #000;
  border-radius: 12px;
  display: inline-block;
  padding: 0;
  margin-bottom: 1.5em;
  overflow: hidden;
  transition: background-color 300ms ease;
}

.top-bar {
  --red: #8f1029;
  --lightblue: #0cd9e4;
  --green: #2c9b76;
  --dark: #2f3d4c;
  --white: #ccc;

  border-bottom: 3px solid #000;
  display: flex;
  justify-content: space-between;
  transition: background-color 300ms ease;
  /* align-items: center; */
}

.title {
  cursor: pointer;
  padding: 12px 1em;
  flex-grow: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  transition: all 300ms ease;
}

.title:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.title h3 {
  margin: 0;
  flex-grow: 2;
  /* transition: all 300ms ease; */
  overflow: hidden;
  word-wrap: break-word;
}

.btn-del {
  background-color: transparent;
  outline: none;
  border-radius: 0;
  padding: 4px 15px;
  transition: all 300ms ease;
  border: none;
  border-left: 3px solid #000;
  cursor: pointer;
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: 700;
}

.btn-del:hover {
  background-color: red;
  color: #fff;
}

.card-body-wrapper {
  max-height: 100vh;
  padding: 1em 1em;
  transition: all 300ms ease;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.card-body-wrapper.min {
  max-height: 0;
  padding: 0 1em;
  transition: all 300ms ease;
}

.card-body {
  display: flex;
  /* justify-content: flex-start; */
  align-items: center;
  gap: 2em;
  opacity: 1;
  transition: all 300ms ease;
}

.card-body.min {
  opacity: 0;
  transition: all 300ms ease;
}

.textTodo.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.content {
  /* min-width: 415px; */
  flex-grow: 1;
  word-wrap: break-word;
  overflow-x: hidden;
  padding: 6px 0;
  font-size: 16px;
  line-height: 1.4;
  transition: all 300ms ease;
  transition: color 0s ease;
}

.content.edit-mode {
  padding: 6px 12px;
  border: 3px solid #000;
  border-radius: 8px;
  outline: none;
  transition: all 300ms ease;
  transition: color 0s ease;
}

.btn {
  outline: none;
  cursor: pointer;
  border: 3px solid #000;
  font-size: 1em;
  border-radius: 8px;
  transition: all 300ms ease;
}

.btn-check {
  background-color: transparent;
  min-width: 32px;
  max-width: 32px;
  height: 32px;
  color: #000;
  transition: all 300ms ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-check:hover {
  background-color: #fff;
  color: #fff;
}

.btn-check:hover i {
  color: #000;
}

.btn i {
  font-weight: 700;
}

.card-footer {
  font-size: 16px;
  display: flex;
  gap: 12px;
}

.btn-edit,
.btn-save {
  background-color: transparent;
}

.btn-edit.hide {
  display: none;
}

.btn-save,
.btn-color {
  display: none;
  justify-content: center;
  align-items: center;
}

.btn-color {
  padding: 0 14px;
}

.btn-save.show,
.btn-color.show {
  display: flex;
}
