@font-face {
  font-family: 'todoicon';
  src:  url('fonts/todoicon.eot?nhc3wv');
  src:  url('fonts/todoicon.eot?nhc3wv#iefix') format('embedded-opentype'),
    url('fonts/todoicon.ttf?nhc3wv') format('truetype'),
    url('fonts/todoicon.woff?nhc3wv') format('woff'),
    url('fonts/todoicon.svg?nhc3wv#todoicon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="todo-"], [class*=" todo-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'todoicon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.todo-check:before {
  content: "\e900";
}
.todo-check-circle:before {
  content: "\e901";
}
.todo-check-square:before {
  content: "\e902";
}
.todo-chevron-down:before {
  content: "\e903";
}
.todo-chevron-up:before {
  content: "\e904";
}
.todo-edit-2:before {
  content: "\e905";
}
.todo-edit-3:before {
  content: "\e906";
}
.todo-heart:before {
  content: "\e907";
}
